name: Render and Publish

on:
  push:
    branches: main

jobs:
  build-deploy:
      runs-on: ubuntu-latest
      permissions:
        contents: write
      steps:
        - name: Check out repository
          uses: actions/checkout@v4

        - uses: r-lib/actions/setup-r@v2
        - uses: r-lib/actions/setup-r-dependencies@v2
          with:
            packages:
              any::pak
              any::renv
              any::knitr
              any::rmarkdown
              any::tidyverse
              any::ggsignif
              any::GGally
              any::ggpubr
              any::patchwork
              any::ggrepel
              any::plotly

        - name: Set up Quarto
          uses: quarto-dev/quarto-actions/setup@v2
          with:
            tinytex: true

        - name: Publish to GitHub Pages (and render)
          uses: quarto-dev/quarto-actions/publish@v2
          with:
            target: gh-pages